[submodule "clib/libcs50"]
	path = centipyde/libc/libc_source/libcs50
	url = https://github.com/cs50/libcs50.git
[submodule "clib/musl"]
	path = centipyde/libc/libc_source/musl
	url = git://git.musl-libc.org/musl
